<div class="post">
  <div class="post__header">
    <p><%= item.user.username %></p>
  </div>
  <div class="post__photo">
    <% if show_link %>
      <%= link_to posts_show_path(item.id) do %>
      <%= image_tag item.photo.url %>
      <% end %>
    <% else %>
      <%= image_tag item.photo.url %>
    <% end %>
  </div>
  <div class="post__body">
    <div class="post__description">
      <%= item.description %>
    </div>
    <div class="post__published">
      <%= time_ago_in_words item.created_at %>
    </div>
  </div>
</div>