<% if @post.errors.full_messages.any? %>
<% @post.errors.full_messages.each do |message| %>
<p><%= message %></p>
<% end %>

<% end %>
<%= form_for @post do |form| %>
  <p>
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </p>
  <p><%= form.submit %></p>
<% end %>